src/main/mule/sap-priceharm-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sap-priceharm-papi-main">
        <http:listener config-ref="Http-Listener-config-papi" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="initializationOfVariables" doc:id="f6bb30cf-b276-4cc4-88b0-d93a514aee13">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[if(!isEmpty(attributes.headers.correlationId)) attributes.headers.correlationId else correlationId]]></ee:set-variable>
				<ee:set-variable variableName="httpMethod"><![CDATA[attributes.method]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="sap-priceharm-papi-config"/>
		<error-handler ref="error-handler" />
    </flow>
    <flow name="sap-priceharm-papi-console">
        <http:listener config-ref="Http-Listener-config-papi" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sap-priceharm-papi-config"/>
		<error-handler ref="error-handler" />
    </flow>
    <flow name="post:\price_harm:application\json:sap-priceharm-papi-config">
		<flow-ref doc:name="callingPriceHarmImplFlow" doc:id="d80cb787-cc07-4c4b-b404-dd57efb9701c" name="ImplementationFlow"/>
    </flow>
</mule>
